<table class="table table-dark table-striped">
    <tr>
        <th>Logo</th>
        <th>Equipo</th>
        <th>Posicion</th>
        <th>Puntos</th>
        <th>PJ</th>
        <th>PG</th>
        <th>PE</th>
        <th>PP</th>
        <th>GF</th>
        <th>GC</th>
        <th>DF</th>
    </tr>
    {% for row in data %}
    <tr>
        <td><img src="{{row.team.crestUrl}}" alt="logo" width="30" height="30"></td>
        <td><b>{{row.team.name}}</b></td>
        <td><b>{{row.position}}</b></td>
        <td><b>{{row.points}}</b></td>
        <td>{{row.playedGames}}</td>
        <td>{{row.won}}</td>
        <td>{{row.draw}}</td>
        <td>{{row.lost}}</td>
        <td>{{row.goalsFor}}</td>
        <td>{{row.goalsAgainst}}</td>
        <td>{{row.goalDifference}}</td>
    </tr>
    {% endfor %}
</table>
