<table class="table table-dark table-striped">
    <tr class="bg-info">
        <th>Logo</th>
        <th>Equipo</th>
        <th>Posicion</th>
        <th>Puntos</th>
        <th>PJ</th>
        <th>PG</th>
        <th>PE</th>
        <th>PP</th>
        <th>GF</th>
        <th>GC</th>
        <th>DF</th>
    </tr>
    {% for item in data %}
    <tr>
        <td><img src="{{item.team.crestUrl}}" alt="logo" width="30" height="30"></td>
        <td><b>{{item.team.name}}</b></td>
        <td><b>{{item.position}}</b></td>
        <td><b>{{item.points}}</b></td>
        <td>{{item.playedGames}}</td>
        <td>{{item.won}}</td>
        <td>{{item.draw}}</td>
        <td>{{item.lost}}</td>
        <td>{{item.goalsFor}}</td>
        <td>{{item.goalsAgainst}}</td>
        <td>{{item.goalDifference}}</td>
    </tr>
    {% endfor %}
</table>
